h2{
	text-align: center;               
	color:white;   
	margin-top: .5%;
	margin-bottom: .5%;
}

a:link, a:visited {
	color:white;
}

nav{
	margin-top: -2.5%;
	float:right;
	color:white;
	
}

div1{
	margin-top: 3.3%;
	float:left;
	text-align: center;
	width:100%;
	color:white;
	font-size:177%;
}

#blanks{
	margin-top:3.8%;   
	float:left;
	text-align: center;
	width:100%;
	color:white;
	font-size:177%; 
}

letter {
	text-align: center;
	color:white;    
	font-size: 177%;
}

div2{
	float:left;
	width:30%;
	color:white;
	font-size: 177%;
	margin-top: 17%;
}


div3{
	width:60%;
	float: right;
	text-align: right;
	color:white;
	font-size: 177%;
	margin-top: 17%;
}

div4{
	margin-top: 7.2%;
	clear:both;
	width:100%;
	float:left;
	text-align: center;
	font-size: 177%;;
	color:white;
}

fails{
	color: white;
	font-size: 100%;
}
body {
	background: url("../images/background.jpg");
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
	
	
}

html {
	background-color: #000000;
	
}